.language{
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    margin-top: 12px;
    margin-right: 80px;
    height: 50px;
    width: 50px;
    display: grid;
    place-content: center;
    border: 2px solid #f4b66f;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
  }
  .language:hover{
    transform: scale(1.02);
    box-shadow: 0px 1px 3px 1px rgba(138, 129, 72, 0.8);
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    .language{
      position: absolute;
      z-index: 30;
      top: 0;
      left: 0;
      margin-top: 12px;
      margin-left: 12px;
      height: 50px;
      width: 50px;
      display: grid;
      place-content: center;
      border: 2px solid #f4b66f;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
          box-sizing: border-box;
    }
}
